body {
  display: block;
  color: #363738;
  background-color: #fcfcfd;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  min-height: 100%;
  font-family: 'Noto Sans Mono', monospace;
}

* {
  box-sizing: border-box;
}

.homesection {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 100%;
}

.halfhomesection {
  padding-top: 120px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  align-items: center;
}

.leftsection {
  justify-content: flex-end;
  box-shadow: inset 0 0 0 1000px rgba(40, 238, 167, 0.93);
  background-image:url(images/leftsection.png);
}


.rightsection {
  justify-content: flex-start;
  background-image:url(images/rightsection.png);
  box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .85);
}


.sectionwrapper {
  display: flex;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  flex-direction: column;
  justify-content: flex-start;
}

.leftsectionwrapper {
  align-items: flex-end;
  padding-left: 70px;
  padding-right: 50px;
}

.rightsectionwrapper {
  align-items: flex-start ;
  padding-left: 50px;
  padding-right: 70px;
}

.homesectiontitle {
  text-transform: uppercase;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: 36px;
  font-weight: 900;
}

.leftsectiontitle {
  text-align: right;
}

.rightsectiontitle {
  text-align: left;
}

.sectiontitlefirstline {
  color: #fcfcfd;
  background-color:#363738;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 2.5;
  display: inline;
}

.leftsectiontitlefirstline {
  color: #fcfcfd;
  background-color:#363738;
}

.rightsectiontitlefirstline {
  background-color: #fcfcfd;
  color:#363738;
}

.rightsectionsecondline {
  color: #fcfcfd;
}

.sectiondescription {
  margin-top: 40;
  margin-bottom: 40;
  min-height: 10ch;
  flex-grow: 1;
  line-height: 1.5;
}


.leftsectiondescription {
  text-align: right;
}

.rightsectiondescription {
  text-align: left;
  color: #fcfcfd;
}


.sectionbutton {
  color: #fcfcfd;
  background-color:#363738;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftsectionbutton {
  color: #fcfcfd;
  background-color:#363738;
}

.rightsectionbutton {
  background-color: #fcfcfd;
  color:#363738;
}

.navbarcontainer {
  height: 50px;
  max-width: 1340px;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  display: block;
}

.aliceblue {
  background-color: #f1f2f3;
}

.sectioncontainer {
  max-width: 1340px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sectiontitle {
  display: flex;
  align-items: center;
}

.sectiontitlesymbol {
  padding: 10px 0px 10px 20px ;
  font-size: 33px;
  color: #28eea7;
  font-weight: 900;
  text-align: right;
}

.sectiontitletext {
  color: #363738;
  text-align: left;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
}

.titleiconscontainer {
  grid-column-gap: 10px;
  margin-left: auto;
  display: flex;
}

.circleicon {
  width: 24px;
  height: 24px;
  border-radius: 20px;
}

.black {
  background-color: #363738;
}

.blackfont {
  color: #363738;
}

.hawkesblue {
  background-color: #dcdee1;
}

.hawkesbluefont {
  color: #dcdee1;
}

.green {
  background-color: #28eea7;
}

.greenfont {
  color: #28eea7;
}

.sectioncontentwrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.youtubeframe {
  object-fit: fill;
  border: 14.4px solid #28eea7;
  border-radius: 20px;
  width: 100%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg");
  background-position: 50%;
  background-size: cover;
  padding-top: 56.17021276595745%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.milestonescontentwrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 20px;
  margin-top: 50px;
}

.bigmilestonesbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 60px 70px;
  border-radius: 20px;
  flex-grow: 1;
}

.milestonetitle {
  text-align: center;
  font-size: 120px;
  font-weight: 900;
}

.milestonesecondtitle {
  text-align: left;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.4;
}

.milestonetextcontent {
  text-align: left;
  align-self: stretch;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.rightmilestonesside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  grid-row-gap: 20px;
}

.smallmilestoneswrapper {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 20px;
}

.smallmilestonesbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  padding: 40px;
  border-radius: 20px;
  grid-row-gap: 20px;
}

.milestonetitlesmall {
  text-align: left;
  font-size: 64px;
  font-weight: 900;
}

.milestonesecondtitlesmall {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.grey {
  background-color: #a5a6a9;
}

.greyfont {
  color: #a5a6a9;
}

.programstab {
  align-self: stretch;
  position: relative;
}

.programsnavigation{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
}

.tabbutton {
  border-radius: 10px 10px 0 0;
  padding: 20px 50px;
  font-weight: 900;
  vertical-align: top;
  text-align: left;
}

.tab {
  display: flex;
  grid-column-gap: 40px;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
}

.programdetails {
  display: flex;
  flex-direction: column;
  grid-row-gap: 24px;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  padding: 20px;
}

.programtitle {
  align-self: stretch;
  text-align: left;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.4;
}

.programdescription {
  align-self: stretch;
  font-size: 14px;
  line-height: 1.5;
}

.datesection {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-self: stretch;
  margin-top: auto;
  display: flex;
}

.nextbootcamp {
  background-color: #232323;
  flex: none;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
}

.learnmore {
  color: #fcfcfd;
  background-color: #232323;
  flex: 1;
  text-align: right;
  align-self: stretch;
  margin-top: auto;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 15px 20px;
  font-weight: 800;
}

.programimage {
  background-image: url(images/programtab.png);
  width: 400px;
  height: 400px;
  min-height: 100px;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
}

.recruitmentcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
  grid-row-gap: 20px;
}

.upperrecruitmentcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-grow: 1;
  grid-row-gap: 24px;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.realblack {
  background-color: #232323;
}

.recruitmenttitle {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 900;
}

.recruitmentsubtitle {
  padding: 15px 20px;
  font-weight: 400;
  line-height: 1.4;
}

.recruitmentdescription {
  align-self: stretch;
  font-size: 14px;
  line-height: 1.5;
}

.list {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.contactus {
  text-align: right;
  align-self: stretch;
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: 800;
}

.lowerrecruitmentcontainer {
  display: flex;
  grid-column-gap: 20px;
  flex: 1;
  justify-content: flex-end;
  padding: 20px 40px;
  border-radius: 20px;
  align-items: center;
  align-self: stretch;
}

.sublower {
  font-family: Noto Sans, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
}

.testimonialsslide{
  display: flex;
  padding: 20px 20px 20px 64px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.testimonialcontent{
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  display: flex;
}

.quote {
  vertical-align: middle;
  margin-bottom: 24px;
}

.testimonialquote {
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.ghostwhitefont {
  color: #fcfcfd;
}

.ghostwhite {
  background-color: #fcfcfd;
}

.testiomonialinfo {
  display: flex;
  align-items: center;
}

.testimonialimage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.testiomonialcontact {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8px;
  font-weight: 900;
}

.testiomonialname{
  font-size: 18px;
  font-weight: 900;
}

.testimonialbigimage {
  width: 400px;
  height: 400px;
}

.faqcollection {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
}

.faqitem {
  flex: 1;
  border-radius: 10px;
  padding: 24.8px 44.8px 26.8px 28.8px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.4;
}

.faqviewall {
  margin-top: 9px;
  text-transform: capitalize;
  flex: 1;
  text-align: right;
  align-self: stretch;
  font-weight: 800;
  padding: 15px 20px;
}

.contactussectioncontentwrapper {
  height: auto;
  grid-column-gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}

.contactuscontainer {
  padding: 30px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-self: stretch;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.containertitle {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.4;
}

.map {
  height: 240px;
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
}

.containerfooter {
  margin-top: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}