body {
  display: block;
  color: #363738;
  background-color: #fcfcfd;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  min-height: 100%;
  font-family: 'Noto Sans Mono', monospace;
}

* {
  box-sizing: border-box;
}

.homesection {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 100%;
}

.halfhomesection {
  padding-top: 120px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  align-items: center;
}

.leftsection {
  justify-content: flex-end;
  box-shadow: inset 0 0 0 1000px rgba(40, 238, 167, 0.93);
  background-image:url(images/leftsection.png);
}


.rightsection {
  justify-content: flex-start;
  background-image:url(images/rightsection.png);
  box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .85);
}


.sectionwrapper {
  display: flex;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  flex-direction: column;
  justify-content: flex-start;
}

.leftsectionwrapper {
  align-items: flex-end;
  padding-left: 70px;
  padding-right: 50px;
}

.rightsectionwrapper {
  align-items: flex-start ;
  padding-left: 50px;
  padding-right: 70px;
}

.homesectiontitle {
  text-transform: uppercase;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: 36px;
  font-weight: 900;
}

.leftsectiontitle {
  text-align: right;
}

.rightsectiontitle {
  text-align: left;
}

.sectiontitlefirstline {
  color: #fcfcfd;
  background-color:#363738;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 2.5;
  display: inline;
}

.leftsectiontitlefirstline {
  color: #fcfcfd;
  background-color:#363738;
}

.rightsectiontitlefirstline {
  background-color: #fcfcfd;
  color:#363738;
}

.rightsectionsecondline {
  color: #fcfcfd;
}

.sectiondescription {
  margin-top: 40;
  margin-bottom: 40;
  min-height: 10ch;
  flex-grow: 1;
  line-height: 1.5;
}


.leftsectiondescription {
  text-align: right;
}

.rightsectiondescription {
  text-align: left;
  color: #fcfcfd;
}


.sectionbutton {
  color: #fcfcfd;
  background-color:#363738;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftsectionbutton {
  color: #fcfcfd;
  background-color:#363738;
}

.rightsectionbutton {
  background-color: #fcfcfd;
  color:#363738;
}

.navbarcontainer {
  height: 50px;
  max-width: 1340px;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  display: block;
}

.aliceblue {
  background-color: #f1f2f3;
}

.sectioncontainer {
  max-width: 1340px;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sectiontitle {
  display: flex;
  align-items: center;
}

.sectiontitlesymbol {
  padding: 10px 0px 10px 20px ;
  font-size: 36px;
  color: #28eea7;
  font-weight: 900;
  text-align: right;
}

.sectiontitletext {
  color: #363738;
  text-align: left;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
}

.titleiconscontainer {
  grid-column-gap: 10px;
  margin-left: auto;
  display: flex;
}

.circleicon {
  width: 24px;
  height: 24px;
  border-radius: 20px;
}

.black {
  background-color: #363738;
}

.hawkesblue {
  background-color: #dcdee1;
}

.green {
  background-color: #28eea7;
}

.sectioncontentwrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.youtubeframe {
  object-fit: fill;
  border: 14.4px solid #28eea7;
  border-radius: 20px;
  width: 100%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg");
  background-position: 50%;
  background-size: cover;
  padding-top: 56.17021276595745%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

