body {
    display: block;
    color: #363738;
    background-color: #fcfcfd;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    min-height: 100%;
    font-family: 'Noto Sans Mono', monospace;
}

.homesection {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 100%;
}

.section {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-clip: border-box;
    align-items: center;
}

.leftsection {
    justify-content: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(40, 238, 167, 0.93);
    background-image:url(images/leftsection.png);
}


.rightsection {
    justify-content: flex-start;
    background-image:url(images/rightsection.png);
    box-shadow: inset 0 0 0 1000px rgba(35, 35, 35, .85);
}


  .sectionwrapper {
    display: flex;
    box-sizing: border-box;
    height: 40vh;
    max-height: 100vh;
    max-width: 670px;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .leftsectionwrapper {
    align-items: flex-end;
    padding-left: 70px;
    padding-right: 50px;
  }

  .rightsectionwrapper {
    align-items: flex-start ;
    padding-left: 50px;
    padding-right: 70px;
  }

  .sectiontitle {
    text-transform: uppercase;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-size: 36px;
    font-weight: 900;
  }

  .leftsectiontitle {
    text-align: right;
  }

  .rightsectiontitle {
    text-align: left;
  }

  .sectiontitlefirstline {
    color: #fcfcfd;
    background-color:#363738;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    line-height: 2.5;
    display: inline;
    box-sizing: border-box;
  }

  .leftsectiontitlefirstline {
    color: #fcfcfd;
    background-color:#363738;
  }

  .rightsectiontitlefirstline {
    background-color: #fcfcfd;
    color:#363738;
  }

  .rightsectionsecondline {
    color: #fcfcfd;
  }

  .sectiondescription {
    margin-top: 40;
    margin-bottom: 40;
    min-height: 10ch;
    flex-grow: 1;
    line-height: 1.5;
  }


  .leftsectiondescription {
    text-align: right;
  }

  .rightsectiondescription {
    text-align: left;
    color: #fcfcfd;
  }


  .sectionbutton {
    color: #fcfcfd;
    background-color:#363738;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .leftsectionbutton {
    color: #fcfcfd;
    background-color:#363738;
  }

  .rightsectionbutton {
    background-color: #fcfcfd;
    color:#363738;
  }